@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

th {
  font-weight: 600;
}

main {
  margin: auto;
  max-width: 600px;
}

.veggie {
  color: #518c36;
}